/Netbeans/Konversi_Kurs_Mata_Uang--IDR_to_USD-_USD_to_IDR/nbproject/private/
/Netbeans/Konversi_Kurs_Mata_Uang--IDR_to_USD-_USD_to_IDR/build/
/Netbeans/CorrencyConverter/nbproject/private/
/Netbeans/CorrencyConverter/build/
/Netbeans/CorrencyConverter/dist/
/Netbeans/Konversi Kurs Mata Uang UI/build/
/Netbeans/Konversi Kurs Mata Uang UI/dist/
/Netbeans/Konversi Kurs Mata Uang UI/nbproject/private/